<!doctype html>
<html >
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="<%= aamd.configVars.appcss %>/main.css">
  <script data-main="<%= aamd.configVars.appjs %>/main.js" src="<%= aamd.configVars.appjs %>/ext/require.js"></script>
</head>
<body>
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<div ng-view></div>


<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-XXXXX-X');
  ga('send', 'pageview');
</script>

<% if (!_.isEmpty(deps.htmlJsFiles)) {%>
<!--[if lt IE 9]><% _.each(deps.htmlJsFiles, function (jsfile) {%>
<script src="<%= jsfile %>"></script><%})%>
<![endif]--><%}%>

<!-- @exclude -->
<script type="text/javascript" src="http://<%= aamd.configVars.hostname %>:<%= aamd.configVars.port %>/livereload.js?snipver=1"></script>
<!-- @endexclude -->


</body>
</html>
